/* css reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style-type:none;
  text-decoration:none;
}
html{
  font-size:10px;
}
body{
  background-color:#000000;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Header section css starts here */
header{
  position:fixed;
  top:0;
  width:100%;
  min-height:100px;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
h2 a{
  text-transform: uppercase;
  color:white;
  margin-left:60px;
  font-size: 2.8rem;
  font-weight: bold;
}
/*navbar css starts here*/
#navbar ul{
  width:660px;
  display:flex;
  align-items:center;
  justify-content: space-between;
}
#navbar li a{
  color:white;
  font-size:1.8rem;
  font-family: "Poppins",Arial,sans-serif;
}
#navbar li:first-child a{
  color:#ffbd39;
}
.btn{
  background-color: #000000;
  color:white;
  border:2px solid #ffbd39;
  margin-right:6rem;
  padding: 1rem 1.8rem;
  font-size:1.6rem;
  border-radius:1rem;
  font-family:"Poppins",Arial,sans-serif;
  font-weighT:500;
  transition:0.8s;
  cursor:pointer;
}
/*navbar css ends here*/
/* Header section css ends here */

/* Main section css starts  here */
main{
  margin-top:8rem;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(6,auto);
  grid-template-areas: "home"
                       "about"
                        "service"
                        "skills"
                        "projects"
                        "contact";
  gap:2rem;
}
.home{
  grid-area: home;
  margin:80px 0px;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  padding:8rem 10rem;
  gap:4rem;
}
.main{
  height:350px;
  width:100%;
  border-radius: 50%;
  border: 2px solid #ffbd39;
  padding:12px;
  transition:0.4s;
}
.main:hover{
  transform:scale(1.2);
}
.content-section{
  padding:0;
  transform: translate(100px,-40px);
}
.content-section h1{
  color: white;
  font-size: 8rem;
  margin-bottom:2.5rem;
}
.content-section h1 span{
  color: #ffbd39;
}
.content-section p{
  color:white;
  font-size: 4em;
  margin-bottom:2.5rem;
}
.content-section button{
  margin-right:2rem;
}
#hiring{
  border: 1px solid #ffbd39;
  padding:1.6rem 2.4rem ;
  background-color: #ffbd39;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  text-transform:uppercase;
  font-weight:600;
  letter-spacing: 2px;
}
#work{
  background-color:#000000;
  color:white;
  border:2px solid grey;
  padding:1.6rem 2.4rem;
  border-radius:2.4rem;
  letter-spacing:2px;
  font-weight:600;
  text-transform:uppercase;
}
#work:hover{
  background-color: #ffbd39;
  color:#000000;
  border:2px solid white;
  font-weight: 600;
}
#hiring:hover{
  background-color: #000000;
  color:white;
  border:2px solid #ffbd39;
}
/*Abot section css starts here*/
.about{
  grid-area:about;
  max-width:80%;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto 1fr 1fr;
  grid-template-areas:"heading1 heading1 heading1"
                      "image-about experience education"
                      "image-about  personal-description personal-description";
  gap:20px;                    
}
.heading1{
  grid-area:heading1;
  padding: 30px;
  margin-bottom:4rem;
}
.heading1 h2{
  font-size:5rem;
  text-align: center;
  font-weight: 900;
}
.image-about{
  grid-area:image-about;
}
.about-me-logo{
  width:100%;
  height:400px;
  filter: brightness(100%) grayscale(100%);
  object-fit: cover;
  border-radius:1.5rem;
}
 
.experience{
  grid-area:experience;
  background-color: rgba(255, 255, 255, 0.1);
}
.education{
  grid-area:education;
  background-color: rgba(255, 255, 255, 0.1);

}
.personal-description{
  grid-area:personal-description;
  background-color: rgba(255, 255, 255, 0.1);
}
