/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Header section css starts here */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(140px);
}
h2 a {
  text-transform: uppercase;
  color: white;
  margin-left: 60px;
  font-size: 2.8rem;
  font-weight: bold;
}
/*navbar css starts here*/
#navbar ul {
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar li a {
  color: white;
  font-size: 2rem;
  font-family: "Poppins", Arial, sans-serif;
  margin: 2rem;
  transition:0.4s ease-in;
}
#navbar li:hover a {
  color:#ffbd39;
}
.btn {
  background-color: #000000;
  color: white;
  border: 2px solid #ffbd39;
  margin-right: 6rem;
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  cursor: pointer;
}
/*navbar css ends here*/
/* Header section css ends here */

/* Main section css starts  here */
main {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "home"
    "about"
    "service"
    "skills"
    "projects"
    "contact";
  gap: 2rem;
}
#home {
  max-width: 90%;
  grid-area: home;
  margin: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8rem 10rem;
}
.main {
  height: 350px;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #ffbd39;
  padding: 12px;
  transition: 0.4s;
}
.main:hover {
  transform: scale(1.2);
}
.content-section {
  padding: 0;
  transform: translate(100px, -40px);
}
.content-section h1 {
  color: white;
  font-size: 8rem;
  margin-bottom: 2.5rem;
}
.content-section h1 span {
  color: #ffbd39;
}
.content-section p {
  color: white;
  font-size: 4em;
  margin-bottom: 2.5rem;
}
.content-section button {
  margin-right: 2rem;
}
#hiring {
  border: 1px solid #ffbd39;
  padding: 1.6rem 2.4rem;
  background-color: #ffbd39;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
#work {
  background-color: #000000;
  color: white;
  border: 2px solid grey;
  padding: 1.6rem 2.4rem;
  border-radius: 2.4rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}
#work:hover {
  background-color: #ffbd39;
  color: #000000;
  border: 2px solid white;
  font-weight: 600;
}
#hiring:hover {
  background-color: #000000;
  color: white;
  border: 2px solid #ffbd39;
}
/*About section css starts here*/
#about {
  grid-area: about;
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "heading1 heading1 heading1"
    "image-about experience education"
    "image-about  personal-description personal-description";
  gap: 20px;
}
.heading1 {
  grid-area: heading1;
  padding: 30px;
  margin-bottom: 4rem;
}
.heading1 h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: 900;
  color: white;
}
.image-about {
  grid-area: image-about;
}
.about-me-logo {
  width: 100%;
  height: 100%;
  filter: brightness(100%) grayscale(100%);
  object-fit: cover;
  border-radius: 1.5rem;
}
.experience {
  grid-area: experience;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s ease-in;
}
.experience:hover {
  background: black;
  border: 1px solid #ffbd39;
  transform: scale(1.03);
}
.experience img {
  display: block;
  margin: 1.5rem auto;
  width: 5rem;
  height: 5rem;
}
.experience h3 {
  font-size: 3.2rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.exp {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.job-title {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.education {
  grid-area: education;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s ease-in;
}
.education:hover {
  background-color: black;
  border: 1px solid #ffbd39;
  transform: scale(1.03);
}
.education h3 {
  font-size: 3.2rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
.education img {
  display: block;
  margin: 1.5rem auto;
  height: 5rem;
  width: 5rem;
}
.degree {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.domain {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
}
.personal-description {
  grid-area: personal-description;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s ease-in;
}
.personal-description h3 {
  color: white;
  font-size: 2.2rem;
  padding: 1.5rem;
  font-weight: 800;
}
.personal-description p {
  color: white;
  font-size: 1.6rem;
  padding: 0rem 1.5rem;
  margin-bottom: 1.3rem;
  font-weight: 200;
}
/*about section  ends here*/
/*contact section starts here*/
#contact {
  max-width: 100%;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading"
    "contact-left-section contact-right-section";
  gap: 2.5rem;
}
.contact-heading {
  grid-area: heading;
}
.contact-heading h2 {
  text-align: center;
  padding: 3rem;
  font-size: 5rem;
  color: white;
}
.contact-left-section {
  grid-area: contact-left-section;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-left-section h3 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  margin: 0rem 2.5rem;
}
.contact-left-section > p {
  font-size: 2rem;
  margin-bottom: 3rem;
  padding: 0px 3rem;
  font-weight: 900;
  color: white;
}
.location,
.email,
.phone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-icon,
.email-icon,
.phone-icon {
  color: #ffbd39;
  font-size: 3.2rem;
  margin-bottom: 6rem;
  margin-left: 2.5rem;
}
.location h4,
.email h4,
.phone h4 {
  color: #ffbd39;
  font-size: 2.4rem;
  margin: 0px 2.5rem;
  font-weight: bolder;
}
.location p,
.email p,
.phone p {
  color: #ffbd39;
  font-size: 2rem;
  margin: 0px 2.5rem;
}
.location-content,
.email-content,
.phone-content {
  line-height: 3rem;
  letter-spacing: 1.5px;
}

.social-media-heading > h4 {
  font-size: 2.4rem;
  margin: 0px 2.5rem;
  color: #ffbd39;
}
.social-media-icons {
  margin: 0px;
  padding: 2rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.github {
  color: #ffbd39;
  margin: 0rem 2rem;
  font-size: 3.2rem;
  transition: 0.4s ease-in;
}
.github:hover {
  color: black;
  background-color: white;
  transform: translateY(-25px);
}
.linkedin {
  color: #ffbd39;
  margin: 0rem 2rem;
  font-size: 3.2rem;
  transition: 0.4s ease-in;
}
.linkedin:hover {
  background-color: #fff;
  color: #0a66c2;
  padding: 0.4rem;
  border-radius: 1rem;
  transform: translateY(-25px);
}
.instagram {
  color: #ffbd39;
  margin: 0rem 2rem;
  font-size: 3.2rem;
}
.instagram:hover {
  color: #ee2a7b;
}
.twitter {
  color: #ffbd39;
  margin: 0rem 2rem;
  font-size: 3.2rem;
  transition: 0.4s ease-in;
}
.twitter:hover {
  background-color: #fff;
  color: #1da1f2;
  padding: 2px;
  border-radius: 1.5rem;
  transform: translateY(-24px);
}
.contact-right-section {
  grid-area: contact-right-section;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
form div {
  width: 80%;
  margin: 1rem;
}
.input {
  border: none;
  border-radius: 0.8rem;
  color: white;
  font-size: 1.8rem;
  padding: 0.5rem;
  width: 100%;
  height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
label {
  display: block;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  pointer-events: none;
}
textarea {
  font-size: 1.8rem;
  color: white;
  width: 100%;
  height: 18rem;
  background-color: rgba(255, 255, 255, 0.1);
}
#btn {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
}
/*contact section ends here*/
#service {
  width: 80%;
  height: auto;
  margin: 8rem auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "service-heading"
    "service-content";
}
.service-heading {
  grid-area: service-heading;
  border: solid;
}
.service-heading h2 {
  text-align: center;
  font-size: 5rem;
  padding: 3rem;
  color: #ffbd39;
}
.service-content {
  display: grid;
  grid-area: service-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "service1 service2 service3"
    "service4 service5 service6";
  gap: 3rem;
  margin-top: 4rem;
}
.service {
  opacity: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s ease-in;
}
/*Hover effects starts here*/
.service:hover {
  background-color: #ffbd39;
  transform: translateY(-10px);
  opacity: 1;
}
.service:hover .line {
  background-color: black;
}
.service:hover h3,
.service:hover i {
  color: black;
}

/*Hover effects ends here*/
.service h3 {
  padding: 3rem 0rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
.design-icon,
.code-icon,
.photo-icon,
.test-icon,
.data-icon {
  color: #ffbd39;
  font-size: 5rem;
  padding-top: 4rem;
}
.line {
  height: 0.3rem;
  background-color: #ffbd39;
  width: 4rem;
  margin-bottom: 3rem;
}
.service1 {
  grid-area: service1;
}
.service2 {
  grid-area: service2;
}
.service3 {
  grid-area: service3;
}
.service4 {
  grid-area: service4;
}
.service5 {
  grid-area: service5;
}
.service6 {
  grid-area: service6;
}
/*Skill section starts here*/
#skills {
  width: 80%;
  margin: 8rem auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "skills-heading"
    "skills-container";
  gap: 2rem;
}
.skills-heading {
  grid-area: skills-heading;
}
.skills-heading h2 {
  text-align: center;
  font-size: 5rem;
  color: white;
  padding: 4rem;
}
.skills-container {
  width: 100%;
  height: auto;
  position: relative;
  grid-area: skills-container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card1 card2"
    "card3 card4";
  gap: 1rem;
}
.card1,
.card2,
.card3,
.card4 {
  position: relative;
  height: 250px;
  width: 80%;
  margin: 4rem auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in;
  color: #ffbd39;
}
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  transform: rotateY(180deg);
}
.frontface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.frontface h3 {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.proficency {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.frontface > p {
  font-size: 2.4rem;
}
.backface {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.bars {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0px;
  margin: 2rem auto;
}
.barpercent,
.basehead {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 800;
  text-transform: capitalize;
}
.basebar {
  position: absolute;
  width: 100%;
  height: 1rem;
  background-color: black;
  bottom: 0;
}
.htmlbar {
  width: 90%;
  background-color: #e34c26;
}
.cssbar {
  width: 85%;
  background-color: #264de4;
}
.jsbar {
  width: 50%;
  background-color: #f7df1e;
}
.nodebar {
  width: 75%;
  background-color: #68a063;
}
.expressbar {
  width: 70%;
  background-color: #f7df1e;
}
.dbbar {
  width: 60%;
  background-color: #00684a;
}
.reactbar {
  width: 78%;
  background-color: #61dbfb;
}
.angularbar {
  width: 85%;
  background-color: #a6120d;
}
.vuebar {
  width: 65%;
  background-color: #41b883;
}
.sqlbar {
  width: 65%;
  background-color: #f29111;
}
.postbar {
  width: 70%;
  background-color: #0064a5;
}
#html,
#htmlperc {
  color: #e34c26;
}
#css,
#cssperc {
  color: #264de4;
}
#js,
#jsperc {
  color: #f7df1e;
}
#node,
#nodeperc {
  color: #68a063;
}
#exp,
#expperc {
  color: #f7df1e;
}
#db,
#dbperc {
  color: #00684a;
}
#react,
#reactperc {
  color: #61dbfb;
}
#angular,
#angularperc {
  color: #a6120d;
}
#vue,
#vueperc {
  color: #41b883;
}
#sql,
#sqlperc {
  color: #f29111;
}
#post,
#postperc {
  color: #0064a5;
}
/*skill section endings here*/
#projects {
  margin: 8rem auto;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "heading-section heading-section"
    "project-contents project-contents";
  gap: 40px;
}
.heading-section {
  grid-area: heading-section;
}
.heading-section h2 {
  text-align: center;
  font-size: 5rem;
  padding: 2rem;
  color: #ffbd39;
}
.project-contents {
  grid-area: project-contents;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "project-image1 project-image2"
    "project-image3 project-image4";
  gap: 30px;
}
.project-image1 {
  grid-area: project-image1;
  margin: auto;
  height: 250px;
  width: 80%;
  border: 2px solid black;
}
.project-image1 > img,
.project-image2 > img,
.project-image3 > img,
.project-image4 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-image2 {
  grid-area: project-image2;
  margin: auto;
  height: 250px;
  width: 80%;
  border: 2px solid black;
}
.project-image3 {
  grid-area: project-image3;
  margin: auto;
  height: 250px;
  width: 80%;
  border: 2px solid black;
}
.project-image4 {
  grid-area: project-image4;
  margin: auto;
  height: 250px;
  width: 80%;
  border: 2px solid black;
}
/*Certificate section starts here*/
#certificates {
  width: 80%;
  height: auto;
  display: grid;
  margin: 80px auto;
  border: 1px solid black;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "certificate-heading certificate-heading"
    "certificates-contents certificates-contents";
  gap: 3rem;
}
.certificate-heading {
  grid-area: certificate-heading;
}
.certificates-contents {
  width: 100%;
  height: auto;
  margin: auto;
  grid-area: certificates-contents;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    " certificate-img1 certificate-img2"
    "certificate-img3 certificate-img4";
  gap: 30px;
}
.certificate-heading h2 {
  text-align: center;
  padding: 20px;
  font-size: 5rem;
  color: #ffbd39;
}
.certificate-img1 {
  grid-area: certificate-img1;
  height: 250px;
  width: 80%;
}
.certificate-img2 {
  grid-area: certificate-img2;
  height: 250px;
  width: 80%;
}
.certificate-img3 {
  grid-area: certificate-img3;
  height: 250px;
  width: 80%;
}
.certificate-img4 {
  grid-area: certificate-img4;
  height: 250px;
  width: 80%;
}
.certificate-img1,
.certificate-img2,
.certificate-img3,
.certificate-img4 {
  margin: auto;
}
.certificate-img1 img,
.certificate-img2 img,
.certificate-img3 img,
.certificate-img4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*certificate section ends here*/
/*footer section starts here*/
footer {
  margin: 80px auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "footer-top"
    "footer-bottom";
  gap: 2rem;
}
.footer-top {
  grid-area: footer-top;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}
.footer-references,
.footer-links,
.footer-services,
.footer-questions {
  padding: 2rem;
  text-align: center;
}
.footer-references,
.footer-links,
.footer-services,
.footer-questions {
  height: 300px;
}
.reference-heading,
.footer-links-heading,
.footer-services-heading,
.footer-question-heading {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 2.4rem;
}
.git-icon,
.ln-icon {
  font-size: 4rem;
  color: #ffbd39;
  margin-bottom: 1rem;
  transition: 0.4s ease-in;
}
.git-icon:hover {
  background-color: black;
  padding: 0.3rem 0.4rem;
  color: white;
  font-size: 3rem;
  border-radius: 8px;
}
.ln-icon:hover {
  background-color: white;
  color: #264de4;
  font-size: 3rem;
  padding: 0.3rem 0.4rem;
  border-radius: 8px;
}
.footer-references p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.footer-references a {
  color: white;
}
.links-section,
.footer-services-link {
  display: flex;
  flex-direction: column;
}
.links-section a,
.footer-services-link a {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.links-section a:hover,
.footer-services-link a:hover {
  color: #ffbd39;
  text-decoration: underline;
}
.per-contact p {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: white;
}
.location-icons,
.phone-icons,
.email-icons {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ffbd39;
}
.footer-bottom {
  grid-area: footer-bottom;
}
#copyright {
  text-align: center;
  color: #999999;
  font-size: 2rem;
}
/*foooter section ends here*/
